extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('#', 'Settings', 'settings', true)
          +navItem('#', 'My bookings', 'briefcase')
          +navItem('#', 'My reviews', 'star')
          +navItem('#', 'Billing', 'credit-card')
          //- li.side-nav--active
          //-   a(href='#')
          //-     svg
          //-       use(xlink:href='img/icons.svg#icon-settings')
          //-     | Settings
          //- li
          //-   a(href='#')
          //-     svg
          //-       use(xlink:href='img/icons.svg#icon-briefcase')
          //-     | My bookings
          //- li
          //-   a(href='#')
          //-     svg
          //-       use(xlink:href='img/icons.svg#icon-star')
          //-     | My reviews
          //- li
          //-   a(href='#')
          //-     svg
          //-       use(xlink:href='img/icons.svg#icon-credit-card')
          //-     | Billing
        
        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'Manage tours', 'map')
              +navItem('#', 'Manage users', 'users')
              +navItem('#', 'Manage reviews', 'star')
              +navItem('#', 'Manage bookings', 'briefcase')
              //- li
              //-   a(href='#')
              //-     svg
              //-       use(xlink:href='img/icons.svg#icon-map')
              //-     | Manage tours
              //- li
              //-   a(href='#')
              //-     svg
              //-       use(xlink:href='img/icons.svg#icon-users')
              //-     | Manage users
              //- li
              //-   a(href='#')
              //-     svg
              //-       use(xlink:href='img/icons.svg#icon-star')
              //-     | Manage reviews
              //- li
              //-   a(href='#')
              //-     svg
              //-       use(xlink:href='img/icons.svg#icon-briefcase')
              //-     | Manage bookings

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          
          //- WITHOUT API #1. Traditional HTML5 only POST version
          //- form.form.form-user-data(action='/submit-user-data' method='POST' enctype='multipart/form-data') --> enctype is for sending files thru traditional way

          //- WITH API
          form.form.form-user-data
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=`${user.name}`, required, name='name')
              //- name defines the field name <name> to be submitted with the POST method thru /submit-....
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=`${user.email}`, required, name='email')
              //- name defines the field name <email> to be submitted with the POST method thru /submit-....
            .form__group.form__photo-upload
              img.form__user-photo(src=`img/users/${user.photo}`, alt=`Photo of ${user.name}`)

              //- a.btn-text(href='') Choose new photo -> this was a placeholder code
              //- input accepts image files with any mimetype extension, id with phto so we can select with JS, and the name of the field is photo which matches mongoDB user document field name or multer is eexpecting  
              input.form__upload(type='file', accept='image/*', id='photo', name ='photo')
              label(for='photo') Choose new photo

            .form__group.right
              button.btn.btn--small.btn--green Save settings

        .line &nbsp;

        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green.btn--save-password Save password
